// Defaults
html,
body {
  height: 100%;
  background-color: white;
}

#app {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

body {
  color: black;
  font-family: "Inter", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

html * {
  box-sizing: border-box;
}

.borderBottom {
  border-bottom: 1px solid black;
}

.borderTop {
  border-top: 1px solid black;
}

.borderLeft {
  border-left: 1px solid black;
}

.borderRight {
  border-right: 1px solid black;
}

.borderAll {
  border: 1px solid black;
}
