html,
body {
  height: 100%;
  background-color: white;
  color:black;
  font-family: 'Function Pro', sans-serif;
}

#app {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

body {
  color: black;
  font-family: "Inter", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

html * {
  box-sizing: border-box;
  color: black;
}

.borderBottom {
  border-bottom: 2px solid black;
}

.borderTop {
  border-top: 2px solid black;
}

.borderLeft {
  border-left: 2px solid black;
}

.borderRight {
  border-right: 2px solid black;
}

.borderAll {
  border: 2px solid black;
}

.nav-button{
      background-color: "inherit";
      border-radius: "0px";
      display: flex;
      border: "none";
}

.bg-Top1 {
  position: relative;
  background-color: #5277CA;
  background-image: url('../assets/images/Top/3.png'),  url('../assets/images/Top/1.png'), url('../assets/images/Top/4.png'), url('../assets/images/Top/5.png'), url('../assets/images/Top/2.png'),;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  height: 740px;
  background-position: center top,  left top, right top, right top, right top,; // Adjust as needed
  left: 142.09px, -136.9px,  1140.39px, 1166.5px, 566.39px,;
  top: -110px, -327.2px,  -166.4px, 112px, 41.41px;
  align-items: center;
  padding: 14px 15px;
  
  p {
    color: white;
    justify-content: center;
  }

}

.price-show{
  display: flex;
  flex-direction: row;
  justify-content: center;
  div{
      margin-top: 60px;
        &:nth-child(1) {
            border-right: 1px white solid;
          }
        &:nth-child(2) {
          border-right: 1px white solid;
        }
        span {
          padding: 0px 30px;
          font-size: 56px;
          color:white;
        }

        p {
          padding: 2px 3px;
          font-size: 18px;
        }
  }
}

.price-show {
  display: flex;
  flex-direction: row;
  justify-content: center;

  div {
    margin-top: 60px;

    &:nth-child(2) {
      border-right: 1px white solid;
    }

    span {
      padding: 0px 20px;
      font-size: 48px;
      color: white;
    }

    p {
      padding: 2px 3px;
      font-size: 18px;
    }
  }

  @media (max-width: 768px) {
    flex-direction: row;
    flex-wrap:wrap-reverse;
    align-items: center;

    div {
      margin-top: 20px;

      &:nth-child(2) {
          border-right: none;
        }
      span {
        padding: 10px 10px;
        font-size: 34px;
      }

      p {
        font-size: 18px;
      }
    }
  }
}

  

.bg-Top2{
  background-color: #e8eff5;
  h2{font-size: 15px;}
  div{
    display: flex;
    flex-direction: column;
    border: "1px solid black"
    }
  .img-project{
    background-image: url('../assets/images/Top/Top2.png');
    background-repeat: no-repeat;
    height: 643px;
    width: 50%;
  }

}

.bg-Top3 {
  background-color: #e8eff5;
  h2 {
    font-size: 15px;
  }

  div {
    display: flex;
    flex-direction: column;
    border: "1px solid black"
  }

  .img-project {
    background-image: url('../assets/images/Top/Top3.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 800px;
    width: 960px;
    button{
      position: relative;
      width: 150px;
      padding: 10px;
      bottom: 40px;
    }
  }

}

.bg-Top4 {
  background-color: #e8eff5;

  h2 {
    font-size: 15px;
  }

  div {
    display: flex;
    flex-direction: column;
    border: "1px solid black"
  }

  .img-project {
    background-image: url('../assets/images/Top/Top3.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 800px;
    width: 960px;

    button {
      position: relative;
      width: 150px;
      padding: 10px;
      bottom: 40px;
    }
  }
}

.content{
  font-size: '15px' !important;
  font-weight: 400;
  line-height: 18px;
  width: 400px;
  
  @media (max-width: 768px) {
    padding: "0px 0px 10px 10px";
  }

}

.top-content{
    font-size: "13px";
    line-height: "36px";
    padding: "0px 250px";
    @media (max-width: 768px) {
        padding:'0px 27px';
      }
}

.semi-content{
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 24px;
      padding:10px;
      letter-spacing: 0.02em;
}

.section-title{
    font-size: "32px";
    font-weight: "500";
    line-height: "36px";
    @media (max-width: 768px) {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
      }
}

.semi-title{
    font-family: 'Function Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 53px;
    text-align: center;
    letter-spacing: 0.35em;
    text-transform: uppercase;    
    @media (max-width: 768px) {
        line-height: 53px;
        font-size: 22px;
        padding-top: 100px;
        padding-bottom: 30px;
    }
}

.top-mention{
  font-size: "20px";
  @media (max-width: 768px) {
      font-size: "13px";
    }
}

.caption {
  font-size: '15px';
  font-weight: 500;
  width: 400px;
}

.sub-title{
  width: 300px;
  font-size: "32px";
  font-weight: "500";
  line-height: "36px";
  padding: "80px 0px 5px 0px"
}

.container {
  display: flex;
  .fluid {
      width: 100%;
    }
}

.left-section {
  flex: 2;
  padding: 20px;
}

.right-section {
  flex: 1;
  padding: 20px;
}

.title{
    font-family: 'Function Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.35em;
    text-transform: uppercase;
}

.footer-link-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    padding: 20px;
    height: 10px;

    a{
      text-decoration: none;
      color: white;
      display: flex;
    }
            @media (max-width: 768px) {
              gap: 20px;
              font-size: 12px;
            }
}

.footer{
  padding:"0px 23px";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
      
    }
}

.asport{
  font-size: 30px;
  color: "#fff";
  margin-left: "3px";
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: #888;
  border-radius: 5px;
}

.unhovered ::-webkit-scrollbar {
  width: 0px !important;
}

::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar {
  width: 10px !important;
}

div::-webkit-scrollbar {
  width: 0.4em !important;
}

div::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* RedPage.css */
.first-page {
  transition: opacity 1s ease-out;
}

.fade-out {
  opacity: 0;
}

.accordion {
  background-color: inherit;
  color: #444;
  cursor: pointer;
  padding: 10px 30px 10px 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.8s;
  border-bottom: 1px solid #ccc;
  flex-wrap: nowrap !important;
}

.accordion:last-of-type {
  border-bottom: 0;
}

.active{
  background-color: #fff;
}

.accordion:hover {
  background-color: #fff;
}

.accordion:before {
  position: relative;
  top: 0px;
  content: "\002B";
  right: 0px;
  font-size: 24px;
  margin-bottom: 10px;
  color: #777;
  font-weight: 700;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";;
}

.panel {
  padding: 0 18px;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-out;
  padding-right: 50px;
}

.accordionNum{
  background-color: white;
}

.slideshow {
  position: 'relative';
  transition: 1.5s ease-in-out;
}

.slide-item {
  position: relative;
  width: 100%;
}

.slide-item:nth-child(2),
.slide-item:nth-child(3) {
  display: none;
}

.slide__img {
  display: block;
  margin: 0 auto;
  vertical-align: middle;
  padding: 0 auto;
  width: 100%;
}

.slide__text {
  position: relative;
  top: 25%;
  left: calc(50% - 150px);
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px #000;
  color: var(--white);
  font-size: 30px;
  font-weight: 800;
}

.fade {
  animation-name: fade;
  animation-duration: 0.3s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.4s;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}

.parallax-container {
  position: relative;
  overflow: hidden;
}

.parallax-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: url('../assets/images/Top/howTowork.png') center center !important;
    background-size: cover;
    transform: translateX(0);
    transition: transform 0.1s linear;
}

::-webkit-scrollbar {
  transform: translateY(-10px);
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.slide {
  width: 100vw;
  height: 100vh;
}

.outer-wrapper {
  width: 100vh;
  height: 99vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
    @media (max-width: 768px) {
      position: relative;
      }
  
}

.wrapper {
  flex-direction: row;
  width: 123vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  overflow-y: hidden;
    @media (max-width: 768px) {
        width: 180vw;
      }
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary: #111;
  --secondary: #A6D1E6;
  --bg: #F0F8FF;
  --border: #aaa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 50px;
  font-size: 1.5em;
}

.top .links a {
  text-decoration: none;
  color: var(--primary);
  transition: .5s;
}

.top .links a:hover {
  color: var(--secondary);
}

.top .head {
  font-weight: 600;
}

.top .head span {
  color: var(--secondary);
}

.top .search i {
  transition: .5s;
  padding-right: 10px;
}

.top .search i:hover {
  color: var(--secondary);
  cursor: pointer;
}

.top .search .hamburger {
  display: none;
}

.header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
}

.header .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: relative;
}

.header .navigation li a {
  text-decoration: none;
  color: var(--primary);
  padding: 5px 40px;
  transition: .3s ease-in-out;
  border-bottom: 2px solid #fff;
  left: 0;
}

.header .navigation li a:hover {
  border-bottom: 2px solid var(--secondary);
}

.banner {
  margin: 20px 0px;
}

.banner swiper-container {
  width: 100%;
  height: 80vh;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide .imgbx img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%)
}

swiper-slide .text {
  position: absolute;
  color: #fff;
  top: 70%;
}

section {
  padding: 40px 30px;
}

.news {
  text-align: center;
}

.news .titletext {
  text-align: center;
  font-size: 2em;
  padding-bottom: 40px;
}

.news .titletext span {
  color: var(--secondary);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 2rem;
  gap: 2rem;
  background: var(--bg);
  border-radius: 20px;
  padding: 50px 0px;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #fff;
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
  background: var(--secondary);
  color: #fff;
}

.tag+.tag {
  margin-left: .5em;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info>small {
  color: #666;
}

.events {
  text-align: center;
}

.events .titletext {
  text-align: center;
  font-size: 2em;
  padding-bottom: 40px;
}

.events .titletext span {
  color: var(--secondary);
}

.jobs {
  text-align: center;
}

.jobs .titletext {
  text-align: center;
  font-size: 2em;
  padding-bottom: 40px;
}

.jobs .titletext span {
  color: var(--secondary);
}

.register {
  text-align: center;
  border-top: 1px solid var(--border);
}

.register .titletext {
  text-align: center;
  font-size: 2em;
  padding-bottom: 40px;
}

.register .titletext span {
  color: var(--secondary);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  background: var(--secondary);
  padding: 30px;
  width: 700px;
  margin: auto;
  border-radius: 20px;
  height: auto;
}

.form .formimg img {
  width: 350px;
  border-radius: 25px;
}

.form .formcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.form .formcontent input {
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
}

.strip {
  background: var(--secondary);
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.strip h1 {
  color: #fff;
  font-weight: 300;
}

.strip .icons a {
  color: #fff;
}

.alert {
  position: fixed;
  top: 5%;
  right: 2%;
  background: var(--secondary);
  color: #fff;
  font-weight: 800;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
  width: 300px;
  height: 100vh;
  border-radius: 10px;
  transform: translateX(150%);
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.alert .navigation1 {
  display: flex;
  flex-direction: column;
  gap: 70px;
  list-style: none;
  text-align: center;
}

.alert .navigation1 li a {
  text-decoration: none;
  color: #fff;
}

.alert p {
  margin: 30px;
  letter-spacing: 1px;
}

.alert i {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}

.register .form .btn {
  margin-top: 10px;
  border: none;
  padding: 10px 30px;
  background: #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: .5s;
}

@media(max-width: 911px) {
  .header {
    display: none;
  }

  .top .search .hamburger {
    display: block;
  }

  .register .form {
    margin: 0 0;
  }

  .swiper-slide .imgbx img {
    height: 100vh;
  }

  .top .search {
    display: flex;
    justify-content: space-between;
  }

  .top {
    position: sticky;
    top: 0;
    z-index: 2;
    background: #fff;
    width: 100%;
  }

  .banner {
    margin: 0px 0px;
  }

  .form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
}

.carousel-li{
  position: relative;
  bottom: -250px;
  display: flex;
  flex-direction: row;
  gap:'5px';
  justify-content: center;
  margin-top: "300px";
    @media (max-width: 768px) {
      bottom: -100px;
      }
}
.carousel{
  margin: 5px;

}

.footer-bg {
  position: relative;
  background-color: #5277CA;
  background-image: url('../assets/images/Top/3.png'), url('../assets/images/Top/1.png'), url('../assets/images/Top/4.png'), url('../assets/images/Top/5.png'), url('../assets/images/Top/2.png'), ;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: center top, left top, right top, right top, right top, ; // Adjust as needed
  left: 142.09px, -136.9px, 1140.39px, 1166.5px, 566.39px, ;
  top: -110px, -327.2px, -166.4px, 112px, 41.41px;
  align-items: center;
  padding: 14px 15px;
    p {
        color: white;
        justify-content: center;
      }
}

container>p {
  font-size: 1em;
  text-transform: uppercase;
  margin: 0;
}

[href] {
  color: #468966;
  text-decoration: none;
  font-size: inherit;
}

hr {
  display: block;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  border-style: inset;
  border-width: 1px;
  width: 80px;
}

/*Burger-Menu*/

.menu {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 25px;
}

.menu span {
  margin: 0 auto;
  position: relative;
  top: 12px;
}

.menu span:before,
.menu span:after {
  position: absolute;
  content: '';
}

.menu span,
.menu span:before,
.menu span:after {
  width: 30px;
  height: 6px;
  background-color: #FFF0A5;
  display: block;
}

.menu span:before {
  margin-top: -12px;
}

.menu span:after {
  margin-top: 12px;
}

/*Fake-Trigger*/
#sized {
  width: 60px;
  height: 50px;
  color: transparent;
  background-color: transparent;
  border: transparent;
}

/*Modal-Box*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 0.5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 98vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  background-color: #FFF0A5;
}

.modal-header {
  padding: 2px 16px;
  background-color: #FFF0A5;
  border-bottom: none;
  height: 35vh;
}

.modal-body {
  padding: 2px 16px;
  background-color: #FFF0A5;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #FFF0A5;
  color: black;
  border-top: none;
  text-align: center;
}

.modal-footer hr {
  margin-top: 20vh;
}

.modal-footer>p {
  color: #468966
}

.modal-footer h3 {
  text-transform: none;
  font-size: 4vh;

}

.close {
  color: #468966;
  float: left;
  font-size: 5em;
  font-weight: bold;
  opacity: 1;
}

.close:hover,
.close:focus {
  color: #B64926;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  padding: 20px;
  width: 100%;

}

.close {
  color: #aaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}